<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>회원 정보 삭제</title>
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-dark-grey">
      <a href="/" class="w3-bar-item w3-button">*</a>
      <a href="/add" class="w3-bar-item w3-button">+</a>
      <a href="/edit" class="w3-bar-item w3-button">수정</a>
      <a href="/del" class="w3-bar-item w3-button">-</a>
      <a href="/find" class="w3-bar-item w3-button">찾기</a>
      <a href="/list" class="w3-bar-item w3-button">명단</a>
    </div>
  </div>
  <br><br>
  <div class="w3-header w3-center">
    <h2 class="w3-text-black">회원 정보 삭제</h2>
  </div>
  <div class="w3-table w3-cyan w3-center">
    <form method="post">
      <div class="w3-center w3-text-white">
        <h3>삭제할 회원의 번호를 입력하세요</h3></div>
      <table align="center">
        <tr>
          <td>
            <label>회원의 번호</label>
          </td>
          <td>
            <input type="text" name="id" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="삭 제" class="w3-button w3-round-xxlarge w3-deep-orange w3-block" /></td>
        </tr>
      </table>
    </form>
  </div>

  <table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>번호</th>
        <th>성 명</th>
        <th>거주지</th>

        <% data.forEach(function(user,index){%>
          <tr>
            <td>
              <%=user.id%>
            </td>
            <td>
              <%=user.name%>
            </td>
            <td>
              <%=user.region%>
            </td>
          </tr>
          <%});%>

            <th>
    </thead>


</BODY>

</HTML>
