@charset "UTF-8";

#prewrap {
	white-space: pre-wrap;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: Pretendard-Regular;
	color: #1B2021;
}

th, td {
	padding: 12px;
}

td {
	width: 800px;
}

table {
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	border-collapse: collapse;
	font-size: 20px;
}

#center {
	width: 100%;
	text-align: center;
}

input[type="button"] {
	font-family: Pretendard-Regular;
	background-color: #1B2021;
	color: #fff;
	padding: 10px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	font-family: Pretendard-Regular;
}

input[type="button"]:hover {
	background: #fff;
	color: #1B2021;
	transition: all 0.3s ease;
}
